#syshud .box_layout {
	background-color: rgba(30, 30, 46, 0.8);
	border-radius: 10px;
	border: 2px solid #b4befe;
	margin: 10px;
}
#syshud label {
	color: #b4befe;
}

/* Horizontal layout */
#syshud scale.horizontal trough {
	border-radius: 10px;
	background-color: rgba(30, 30, 46, 0.6);
	min-height: 5px;
}
#syshud scale.horizontal highlight {
	background-color: #b4befe;
	border-radius: 10px;
	min-height: 5px;
}
#syshud scale.horizontal slider {
	background-color: rgba(180, 190, 254, 0.8);
	min-height: 5px;
}
